<div class="home-banner">
  <div class="home-banner-content-wrapper">
    <div class="left">
      <h2> A beautiful landing page mockup in less than 15 minutes. 
      <p> No need for code or design.</p>
      <input type="submit" name="commit" value="How does it work?" class="btn btn-primary"
      data-disable-with="How does it work?">
    </div>
    <div class="right">
      <%= image_tag "banner.svg", alt: "Banner photo" %>
    </div>
  </div>
</div>
<div class="main">
  <div class="card-section">
    <h1 class="main-heading">Why use NoCoMo?</h1>
    <div class="home-card-wrapper">
      <div class="home-card">
        <%= image_tag "1.svg", alt: "Photo build on it", width: 100 %>
        <div class="home-card-product-infos">
          <h3>Quick but clean</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        </div>
      </div>
      <div class="home-card">
        <%= image_tag "3.svg", alt: "Photo build on it", width: 100 %>
        <div class="home-card-product-infos">
          <h3>Don't waste time</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        </div>
      </div>
      <div class="home-card">
        <%= image_tag "2.svg", alt: "Photo build on it", width: 100 %>
        <div class="home-card-product-infos">
          <h3>Build on it</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        </div>
      </div>
    </div>
    <div class="button-wrapper">
      <%= link_to "Start now!", generate_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<div class="work-section">
  <h1> How does it work? </h1>
  <div class="work-content">
    <div class="work-card">
      <%= image_tag "4.svg", alt: "Photo build on it" %>
    </div>
    <div class="work-card">
      <h2>1. Choose your design</h2>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
        et
      dolore magna aliquyam erat, sed diam voluptua.</p>
    </div>
    <div class="work-card">
      <h2>2. Individualise your page</h2>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
        et
      dolore magna aliquyam erat, sed diam voluptua.</p>
    </div>
    <div class="work-card">
      <%= image_tag "5.svg", alt: "Photo build on it" %>
    </div>
    <div class="work-card">
      <%= image_tag "6.svg", alt: "Photo build on it"%>
    </div>
    <div class="work-card">
      <h2>3. Download it!</h2>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
        et
      dolore magna aliquyam erat, sed diam voluptua.</p>
    </div>
  </div>
  <div class="button-wrapper">
    <%= link_to "Start now!", generate_path, class: "btn btn-primary" %>
  </div>
</div>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
<h1> How could it look like? </h1>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "1.svg", alt: "Photo build on it", class: "d-block w-100 h-100"%>
    </div>
    <div class="carousel-item">
      <%= image_tag "2.svg", alt: "Photo build on it", class: "d-block w-100 h-100"%>
    </div>
    <div class="carousel-item">
      <%= image_tag "3.svg", alt: "Photo build on it", class: "d-block w-100 h-100"%>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div class="card-section">
  <h1 class="main-heading">Testimonials</h1>
  <div class="testimonial-card-wrapper">
    <div class="testimonial-card">
      <%= image_tag "1.svg", alt: "Photo build on it", width: 100 %>
      <div class="testimonial-card-product-infos">
        <h3>Friendly & efficient</h3>
        <p>Very user friendly & efficient for a small business owner</p>
      </div>
    </div>
    <div class="testimonial-card">
      <%= image_tag "2.svg", alt: "Photo build on it", width: 100 %>
      <div class="testimonial-card-product-infos">
        <h3>Great tool</h3>
        <p> NoCoMo gives you a lot of freedom in the design process.</p>
      </div>
    </div>
    <div class="testimonial-card">
      <%= image_tag "5.svg", alt: "Photo build on it", width: 100 %>
      <div class="testimonial-card-product-infos">
        <h3>Fun facktor</h3>
        <p>Starting up is very playful and, initially, impressive results are achieved quickly.</p>
      </div>
    </div>
    <div class="testimonial-card">
      <%= image_tag "3.svg", alt: "Photo build on it", width: 100 %>
      <div class="testimonial-card-product-infos">
        <h3>Flexibility of design</h3>
        <p>The designs look professional and allow for pixel-perfect customizations .</p>
      </div>
    </div>
    <div class="testimonial-card">
      <%= image_tag "4.svg", alt: "Photo build on it", width: 100 %>
      <div class="testimonial-card-product-infos">
        <h3>Easy of use</h3>
        <p>The editor is very easy to understand.</p>
      </div>
    </div>
  </div>
</div>
</div>
<div class="work-section">
  <div class="work-content">
    <div class="work-card">
      <%= image_tag "7.svg", alt: "Photo build on it" %>
    </div>
    <div class="work-card">
      <h1>Start building your website now!</h1>
      <p> Now everyone can become designers if they are passionate about their project. No matter what you are up to - a website, an online shop, a landing page or a blog - with NoCoMo you can create your landing page quickly and easily.
    </div>
  </div>
  <div class="button-wrapper">
    <%= link_to "Start now!", generate_path, class: "btn btn-primary" %>
  </div>
</div>
</div>
