<div class="home-banner">
  <div class="home-banner-content-wrapper">
    <div class="left">
      <h2> A beautiful landing page mockup in less than 15 minutes. No need for code or design.</h2>
      <h3> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</h3>
      <input type="submit" name="commit" value="How does it work?" class="btn btn-primary"
      data-disable-with="How does it work?">
    </div>
    <div class="right">
      <%= image_tag "banner.svg", alt: "Banner photo" %>
    </div>
  </div>
</div>
<div class="main">
  <div class="card-section">
    <h1 class="main-heading">Why use NoCoMo?</h1>
    <div class="home-card-wrapper">
      <div class="home-card">
        <%= image_tag "1.svg", alt: "Photo build on it", width: 100 %>
        <div class="home-card-product-infos">
          <h3>Quick but clean</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        </div>
      </div>
      <div class="home-card">
        <%= image_tag "3.svg", alt: "Photo build on it", width: 100 %>
        <div class="home-card-product-infos">
          <h3>Don't waste time</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        </div>
      </div>
      <div class="home-card">
        <%= image_tag "2.svg", alt: "Photo build on it", width: 100 %>
        <div class="home-card-product-infos">
          <h3>Build on it</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        </div>
      </div>
    </div>
    <div class="button-wrapper">
      <%= link_to "Start now!", generate_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<div class="work-section">
  <h1> How does it work? </h1>
  <div class="work-content">
    <div class="work-card">
      <%= image_tag "4.svg", alt: "Photo build on it" %>
    </div>
    <div class="work-card">
      <h2>1. Choose your design</h2>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
        et
      dolore magna aliquyam erat, sed diam voluptua.</p>
    </div>
    <div class="work-card">
      <h2>2. Individualise your page</h2>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
        et
      dolore magna aliquyam erat, sed diam voluptua.</p>
    </div>
    <div class="work-card">
      <%= image_tag "5.svg", alt: "Photo build on it" %>
    </div>
    <div class="work-card">
      <%= image_tag "6.svg", alt: "Photo build on it"%>
    </div>
    <div class="work-card">
      <h2>3. Download it!</h2>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
        et
      dolore magna aliquyam erat, sed diam voluptua.</p>
    </div>
  </div>
  <div class="button-wrapper">
    <%= link_to "Start now!", generate_path, class: "btn btn-primary" %>
  </div>
</div>

<div>
  <div class="siema">
    <img src="assets/1.svg">
    <img src="assets/2.svg">
    <img src="assets/3.svg">
    <img src="assets/4.svg">
  </div>

  <button class="prev">prev</button>
  <button class="next">next</button>
</div>

<div class="card-section">
  <h1 class="main-heading">Testimonials</h1>
  <div class="testimonial-card-wrapper">
    <div class="testimonial-card">
      <%= image_tag "1.svg", alt: "Photo build on it", width: 100 %>
      <div class="testimonial-card-product-infos">
        <h3>Great tool</h3>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
      </div>
    </div>
    <div class="testimonial-card">
      <%= image_tag "3.svg", alt: "Photo build on it", width: 100 %>
      <div class="testimonial-card-product-infos">
        <h3>Great tool</h3>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
      </div>
    </div>
    <div class="testimonial-card">
      <%= image_tag "2.svg", alt: "Photo build on it", width: 100 %>
      <div class="testimonial-card-product-infos">
        <h3>Great tool</h3>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
      </div>
    </div>
    <div class="testimonial-card">
      <%= image_tag "2.svg", alt: "Photo build on it", width: 100 %>
      <div class="testimonial-card-product-infos">
        <h3>Great tool</h3>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
      </div>
    </div>
    <div class="testimonial-card">
      <%= image_tag "2.svg", alt: "Photo build on it", width: 100 %>
      <div class="testimonial-card-product-infos">
        <h3>Great tool</h3>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
      </div>
    </div>
  </div>
</div>
</div>
<div class="work-section">
  <div class="work-content">
    <div class="work-card">
      <%= image_tag "4.svg", alt: "Photo build on it" %>
    </div>
    <div class="work-card">
      <h2>Start building your website now!</h2>
    </div>
  </div>
  <div class="button-wrapper">
    <%= link_to "Start now!", generate_path, class: "btn btn-primary" %>
  </div>
</div>
</div>
