<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-5">
      <div class="fixed col-md-4 col-lg-4 col-xl-3">
      <h2>Create your new project!</h2>
      <form class="simple_form project-form col" id="edit_project_<%= @project.id %>" novalidate="novalidate" enctype="multipart/form-data" action="/projects/<%= @project.id %>" accept-charset="UTF-8" method="post">
        <input type="hidden" name="_method" value="patch">
        <!-- <div class="form-group file optional project_logo">
          <label class="file optional" for="project_logo">Logo</label>
          <input class="form-control-file file optional" type="file" name="project[logo]" id="project_logo">
        </div> -->
        <br> </br>
        <div class="form-group select optional project_layout_id">
          <label class="select optional" for="project_layout_id"> <strong> Layout </strong></label>
          <div class="btn-group btn-group-toggle button-group-green" data-toggle="buttons">
          <% Layout.all.each do |l| %>
              <label class="btn btn-outline-info m-2">
                <input type="radio" id="<%= l.id %>" name="project[layout_id]" value="<%= l.id %>" /> <%= l.name %>
              </label>
            <% end %>
         </div>
        </div>
        <div class="form-group select optional project_layout_id">
        <label class="select optional" for="project_layout_id"> <strong> Design </strong> </label>
        <div class="btn-group btn-group-toggle button-group-green" data-toggle="buttons">
        <% Design.all.each do |d| %>
            <label class="btn btn-outline-info m-2">
              <input type="radio" id="<%= d.id %>" name="project[design]" value="<%= d.id %>" /> <%= d.name %>
            </label>
          <% end %>
          </div>
       </div>
       <div class="form-group select optional project_layout_id">
       <label class="select optional" for="project_layout_id"> <strong> Color scheme </strong> </label>
       <div class="btn-group btn-group-toggle button-group-green" data-toggle="buttons">
       <% Color.all.each do |c| %>
           <label class="btn btn-outline-info m-2">
             <input type="radio" id="<%= c.id %>" name="project[color_id]" value="<%= c.id %>" /> <%= c.name %>
           </label>
         <% end %>
      </div>
      </div>
     <br> </br>
        <div class="form-group select optional font_heading">
          <label class="select optional" for="font_heading"> <strong> Headline font </strong>  </label>
          <select class="btn dropdown-toggle w-100 dropdown-borderless" name="font[heading]" id="font_heading">
            <% unless @project.font.nil? %>
              <option value="<%= @project.font.heading %>"><%= @project.font.heading %></option>
              <option value="Lato">------</option>
            <% end %>
            <%= @fonts.each do |f| %>
              <option value="<%= f[0] %>"><%= f[0] %></option>
            <% end %>
          </select>
          <br> </br>
        </div>
        <div class="form-group select optional font_paragraph form-group-valid">
          <label class="select optional" for="font_paragraph"> <strong> Paragraph font </strong> </label>
          <select class="btn dropdown-toggle w-100 dropdown-borderless" name="font[paragraph]" id="font_paragraph">
            <% unless @project.font.nil? %>
              <option value="<%= @project.font.paragraph %>"><%= @project.font.paragraph %></option>
              <option value="Lato">------</option>
            <% end %>
            <%= @fonts.each do |f| %>
              <option value="<%= f[0] %>"><%= f[0] %></option>
            <% end %>
          </select>
        </div>
        <input type="submit" name="commit" value="Update Project" data-disable-with="Update Project", class="btn btn-primary">
      </form>
  </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-7">
      <iframe id="preview" src="<%= preview_path(@project) %>" frameborder="0"></iframe>
    </div>
  </div>
</div>

<script>
  window.onload = () => {
    const iframe = document.querySelector("iframe");
    const height = iframe.contentDocument.documentElement.clientHeight;
    iframe.style.height = height + 2 + "px";
  }
</script>
