<% content_for :title, "Generate your mockup" %>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div>
        <h2>Create your new project!</h2>
        <form class="simple_form project-form col pl-0" id="edit_project_<%= @project.id %>" novalidate="novalidate" enctype="multipart/form-data" action="/projects/<%= @project.id %>" accept-charset="UTF-8" method="post">
          <input type="hidden" name="_method" value="patch">
        <!-- <div class="form-group file optional project_logo">
          <label class="file optional" for="project_logo">Logo</label>
          <input class="form-control-file file optional" type="file" name="project[logo]" id="project_logo">
        </div>
        <br> </br> -->
        <div class="form-group select optional project_layout_id">
          <label class="select optional" for="project_layout_id"> <strong> Layout </strong></label>
          <div class="btn-group btn-group-toggle button-group-green" data-toggle="buttons">
            <% Layout.all.each do |l| %>
            <label class="btn btn-outline-info m-2" for="layout-<%= l.id %>">
              <% unless @project.layout_id == l.id %>
              <input type="radio" id="layout-<%= l.id %>" name="project[layout_id]" value="<%= l.id %>" /> <%= l.name %>
              <% else %>
              <input type="radio" checked id="layout-<%= l.id %>" name="project[layout_id]" value="<%= l.id %>" /> <%= l.name %>
              <% end %>
            </label>
            <% end %>
          </div>
        </div>
        <div class="form-group select optional project_design_id">
          <label class="select optional" for="project_design_id"><strong>Design</strong></label>
          <div class="btn-group btn-group-toggle button-group-green" data-toggle="buttons">
            <% Design.all.each do |d| %>
            <label class="btn btn-outline-info m-2" for="design-<%= d.id %>">
              <% unless @project.design_id == d.id %>
              <input type="radio" id="design-<%= d.id %>" name="project[design_id]" value="<%= d.id %>" /> <%= d.name %>
              <% else %>
              <input type="radio" checked id="design-<%= d.id %>" name="project[design_id]" value="<%= d.id %>" /> <%= d.name %>
              <% end %>
            </label>
            <% end %>
          </div>
        </div>

        <div class="form-group select optional project_color_id">
         <label class="select optional" for="project_color_id"><strong>Color scheme</strong></label>
         <div class="btn-group btn-group-toggle button-group-green" data-toggle="buttons">
           <% Color.all.each do |c| %>
           <div class="label-wrap">
             <label class="btn btn-outline-info color-label" for="color-<%= c.id %>">
              <% cb = ColorBuilder.new(c) %>
              <div class="color-wrap">
                <%= cb.build.html_safe %>
              </div>
              <% unless @project.color.id == c.id %>
              <div>
                <input type="radio" id="color-<%= c.id %>" name="project[color_id]" value="<%= c.id %>" /><%= c.name %></div>
                <% else %>
                <div>
                  <input type="radio" checked id="color-<%= c.id %>" name="project[color_id]" value="<%= c.id %>" /><%= c.name %></div>
                  <% end %>
                </label>
              </div>
              <% end %>
            </div>
          </div>
          <br> </br>
          <div class="form-group select optional font_heading">
            <label class="select optional" for="font_heading"><strong>Headline font</strong></label>
            <select class="btn dropdown-toggle w-100 dropdown-borderless" name="font[heading]" id="font_heading">
              <% unless @project.font.nil? %>
              <option value="<%= @project.font.heading %>"><%= @project.font.heading %></option>
              <option value="Lato">------</option>
              <% end %>
              <%= @fonts.each do |f| %>
              <option value="<%= f[0] %>"><%= f[0] %></option>
              <% end %>
            </select>
            <br> </br>
          </div>
          <div class="form-group select optional font_paragraph form-group-valid">
            <label class="select optional" for="font_paragraph"><strong>Paragraph font</strong></label>
            <select class="btn dropdown-toggle w-100 dropdown-borderless" name="font[paragraph]" id="font_paragraph">
              <% unless @project.font.nil? %>
              <option value="<%= @project.font.paragraph %>"><%= @project.font.paragraph %></option>
              <option value="Lato">------</option>
              <% end %>
              <%= @fonts.each do |f| %>
              <option value="<%= f[0] %>"><%= f[0] %></option>
              <% end %>
            </select>
          </div>
          <div class="form-footer">
            <div>
            <input type="submit" name="commit" value="Update Project" data-disable-with="Update Project", class="btn btn-primary mr-1">
            <%= link_to 'Save Project', dashboard_path, class: 'btn btn-secondary ml-1' %>
            </div>
            <div>
              <%= link_to 'Download as Code', preview_path(@project), download: "project.html", class: "btn btn-secondary" %>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-7">
      <iframe id="preview" src="<%= preview_path(@project) %>" frameborder="0"></iframe>
    </div>
  </div>
</div>

<script>
  window.onload = () => {
    //iframe height
    const iframe = document.querySelector("iframe#preview");
    const height = iframe.contentDocument.documentElement.clientHeight;
    iframe.style.height = height + 2 + "px";

    //form footer
    // const formFooter = document.querySelector(".form-footer");
    // const footer = document.querySelector("footer");
    // const footerPos = footer.offsetTop;
    // document.addEventListener("scroll", (event) => {
    //   console.log(window.scrollY);
    // });
  }
</script>
