<div class="container mt-5">
  <h1>Create your new project!</h1>
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <form class="simple_form project-form" id="edit_project_<%= @project.id %>" novalidate="novalidate" enctype="multipart/form-data" action="/projects/<%= @project.id %>" accept-charset="UTF-8" data-remote="true" method="post"><input type="hidden" name="_method" value="patch">
        <div class="form-group file optional project_logo">
          <label class="file optional" for="project_logo">Logo</label>
          <input class="form-control-file file optional" type="file" name="project[logo]" id="project_logo">
        </div>
        <div class="form-group select optional project_layout_id">
          <label class="select optional" for="project_layout_id">Layout</label>
          <select class="form-control is-valid select optional" name="project[layout_id]" id="project_layout_id">
            <%= Layout.all.each do |f| %>
              <option value="<%= f.id %>"><%= f.name %></option>
            <% end %>
          </select>
        </div>
        <div class="form-group select optional project_design_id">
          <label class="select optional" for="project_design_id">Design</label>
          <select class="form-control is-valid select optional" name="project[design_id]" id="project_design_id">
            <%= Design.all.each do |f| %>
              <option value="<%= f.id %>"><%= f.name %></option>
            <% end %>
          </select>
        </div>
        <div class="form-group select optional project_color_id">
          <label class="select optional" for="project_color_id">Color scheme</label>
          <select class="form-control is-valid select optional" name="project[color_id]" id="project_color_id">
            <% unless @project.color.nil? %>
              <option value="<%= @project.color.id %>"><%= @project.color.name %></option>
              <option value="0">------</option>
            <% end %>
            <%= Color.all.each do |f| %>
              <option value="<%= f.id %>"><%= f.name %></option>
            <% end %>
          </select>
        </div>
        <div class="form-group select optional font_heading">
          <label class="select optional" for="font_heading">Headline font</label>
          <select class="form-control is-valid select optional" name="font[heading]" id="font_heading">
            <% unless @project.font.nil? %>
              <option value="<%= @project.font.heading %>"><%= @project.font.heading %></option>
              <option value="Lato">------</option>
            <% end %>
            <%= @fonts.each do |f| %>
              <option value="<%= f[0] %>"><%= f[0] %></option>
            <% end %>
          </select>
        </div>
        <div class="form-group select optional font_paragraph form-group-valid">
          <label class="select optional" for="font_paragraph">Paragraph font</label>
          <select class="form-control is-valid select optional" name="font[paragraph]" id="font_paragraph">
            <% unless @project.font.nil? %>
              <option value="<%= @project.font.paragraph %>"><%= @project.font.paragraph %></option>
              <option value="Lato">------</option>
            <% end %>
            <%= @fonts.each do |f| %>
              <option value="<%= f[0] %>"><%= f[0] %></option>
            <% end %>
          </select>
        </div>
        <input type="submit" name="commit" value="Update Project" data-disable-with="Update Project">
      </form>

    </div>
    <div class="col-sm-12 col-md-8">
      <iframe id="preview" src="<%= preview_path(@project) %>" frameborder="0"></iframe>
    </div>
  </div>
</div>

<script>
  window.onload = () => {
    const iframe = document.querySelector("iframe");
    const height = iframe.contentDocument.documentElement.clientHeight;
    iframe.style.height = height + 2 + "px";
  }
</script>
